<center>
<br /><br /><br />

<% @pets.each do |pet| %>
<li> Pet Name: <%= link_to(pet.pet_name, user_pet_path(current_user, pet.id)) %></li>
<% end %>
<br />
<div>
    <% if user_signed_in? %> 
        <%= link_to "Register your pet", new_user_pet_path(current_user.id), :class => 'button-link' %>
    <% end %>
</div>
</center>
