
<header class="v-header container">
    <div class="fullscreen-video-wrap"><%= video_tag(["cats.mp4"], width: "1400", height: "800", muted: :muted, autoplay: :autoplay , loop: :loop) %></div>
    <div class="header-overlay"></div>
    <div class="header-content">
        <h1>Happy Tails Vets</h1>
        <p>Because we know how much you love them, we treat your pets like our family</p>
    </div>
</header>