<h1>Hola Index</h1>

<div>
    <% if user_signed_in? %> 
        <%= link_to("Register your pet", new_user_pet_path(current_user.id)) %>
    <% end %>
</div>

<div>
    <ul>
        <% @pet.each do |pet| %>
        <li>Pet Name: <%= link_to(pet.pet_name, user_pet_path(current_user.id, pet.id)) %></li>
        <%= pet.pet_age %> Years | 
        Specie: <%= pet.pet_race %> <br />
    <% end %>
    </ul>
</div>